<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title><%= data.title %></title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="/public/img/favicon.png" rel="icon" />
    <link href="/public/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="/public/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="/public/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="/public/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="/public/vendor/boxicons/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="/public/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="/public/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="/public/css/style.css" rel="stylesheet" />

    <script
      src="https://kit.fontawesome.com/5bb93003c2.js"
      crossorigin="anonymous"
    ></script>

    <!-- =======================================================
  * Template Name: iPortfolio - v3.7.0
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  </head>

  <body>
    <!-- ======= Mobile nav toggle button ======= -->
    <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

    <!-- ======= Header ======= -->
    <%- include("components/header") %>
    
    <!-- End Header -->

    <div id="main">
      <section id="project" class="project">
        <div class="container">
          <div class="section-title">
            <h2><%= data.title %></h2>
            <p><%= data.description %></p>
          </div>

          <div class="section-description mb-5">
            <h3>Verwendete Tools:</h3>
            <p><%= data.tools %></p>
            <hr />
            <div class="demo mb-4">
              <p><strong>Live-Demo:</strong></p>
              <a href="<%= data.demo %>"><%= data.demo %></a>
            </div>

            <div class="github">
              <p><strong>Github:</strong></p>
              <a href="<%= data.github %>"><%= data.github %></a>
            </div>
           
          </div>

          <div class="row no-gutters">
            <img src="<%= data.image %>" alt="<%= data.title %>" />
          </div>
        </div>
      </section>
    </div>

    <!-- ======= Footer ======= -->
    <%- include("components/footer") %>
    <!-- End  Footer -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script src="/public/vendor/purecounter/purecounter.js"></script>
    <script src="/public/vendor/aos/aos.js"></script>
    <script src="/public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/public/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/public/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/public/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/public/vendor/typed.js/typed.min.js"></script>
    <script src="/public/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="/public/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="/public/js/main.js"></script>
  </body>
</html>
